<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.niuml.mysql.mapper.UserInfoMapper">
    <select id="selectByNameAndEnforceNum" resultType="com.niuml.mysql.entity.UserInfo">
        select * from hbzf_user.hfd_user_info where user_name = #{s} and enforce_num = #{s1}
    </select>
    <select id="selectListByCityId" resultType="com.niuml.mysql.entity.UserInfo">
        select * from hbzf_user.hfd_user_info where city_id = #{s}
    </select>
</mapper>
